@{
    ViewBag.Title = "Inicial";
}

<h1>BEM-VINDO AO PORTAL DE DK EVENTOS</h1>
<p>
    Somos promotores de eventos como:
    <ul>
    <li>Aniversarios</li>
    <li>Casamentos</li>
    <li>Baptimos</li>
    <li>Crismas</li>
    <li>Txilings</li>
    <li>Conferencias</li>
    <li>WorkShops</li>
        <li> e mais...</li>
    </ul>
    
</p>
<footer>
   <p>Contacte- nos: </p> 84 21 46 789
    <p>dkeventos@gmail.com</p>
</footer>
